@import './gigacon.css';

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
}

.sidebar {
  position: fixed;
}

.sidebar .nav-link {
  font-size: 0.875rem;
  font-weight: 500;
}

.bg-amber {
  background-color: rgb(254 243 199);
}

.hover-grey:hover {
  background-color: rgb(243 244 246);
}

.cursor-pointer {
  cursor: pointer;
}

table.table {
  min-width: 1000px;
}

div.dt-container div.dt-layout-full {
  position: relative;
  overflow: auto;
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
}

@media (max-width: 992px) {
  .sidebar {
    position: relative;
  }
}
